.DS_Store
.env
.idea/
.vscode/
*.log
/build
/target
client/!.env.example
client/.env
client/.env.*
client/.output
client/.svelte-kit
client/.vercel
client/build
client/node_modules
client/package
db.sqlite3